<!DOCTYPE html>
html(lang="ja")
  head
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(charset="UTF-8")
    include ../_includes/_head_meta.pug
    title Document
    include ../_includes/_head_tag.pug
  body
    include ../_includes/_body_top.pug
    main
      h1.ttl-1 たなか
      ul.lst-a
        li: a(href="#") top
        li: a(href="#") contents
      p.txt-t
        | tanaka
        br
        | hiroshi
        img(src="", alt="")
    include ../_includes/_body_bottom.pug