extend /_includes/_layout
append variables
  //- Required
  - var pageTitle= "第二階層";
  - var pageDescription= site.description;
  - var pageKeywords= site.keywords;
  //- Optional
  - var pageOgpTitle= "第二階層";
  - var pageOgpImage= site.ogpImage
  - var pageLang= "ja";
  - var pageOgpType= "article";
  //- Not modified
  - var pageUrl= relativePath;

block content
  // contents
  p Contents
  // /contents
