- var pageId = "index"

doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title #{site[pageId].title}
    link(rel="stylesheet" href="css/style.css")
  body


extend /_includes/_layout

append variables
  - var pageTitle= "";
  - var pageDescription= site[pageId].description;
  - var pageKeywords= site[pageId].keywords;
  //- Optional
  - var pageOgpTitle= "";
  - var pageOgpImage= site.ogpImage
  - var pageLang= "ja";
  - var pageOgpType= "website";
  //- Not modified
  - var pageUrl= relativePath;
  -block content
