//- テンプレート読み込み
extend _includes/_layout

//-　ページ独自の設定
append pagedata
  - var pageTitle= "トップページ";
  - var pageDescription= "ページの説明";
  - var pageKeywords= "keyword01,keyword2,keyword03";

//- ページのコンテンツ
block main
  main.main
    h2 Pugでhtml作ったよ
    p Pugって楽しいね！！！！