block variables
doctype html
html(lang=pageLang)
  head
    include /_includes/_meta

  body
    include /_includes/_header

    block content

    include /_includes/_footer
    include /_includes/_script